@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

// Css Variables
:root {
  --color-primary: #007688;
  --color-secondary: #7bd15e;
  --color-light: #fff;
  --color-dark: #212121;

  --font-family: "Open Sand", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);

  scrollbar-color: var(--color-primary);
  color: #fff;
}

header {
  width: 100vw;
  height: 80vh;

  display: flex;
  justify-content: center;

  background-image: url("./../images/School-Dia-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: 10px 0px 10px black;

  nav {
    width: 80%;
    height: 100px;

    position: relative;
    top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(33, 33, 33, 0.77);
    backdrop-filter: blur(5.5px);

    .nav_logo {
      position: relative;
      left: 10%;
      bottom: 2%;
      top: 2%;

      img {
        height: 50%;
        width: 130px;
      }
    }

    ul {
      position: relative;
      right: 10%;
      width: 100%;
      text-align: right;
      list-style-type: none;
      li.nav_item {
        display: inline;

        a.nav_link {
          padding: 8px;
          color: var(--color-light);
          text-decoration: none;
          position: relative;

          &:hover::after {
            content: "";
            width: 90%;
            height: 2px;
            background: var(--color-primary);
            position: absolute;
            bottom: -1px;
            left: 5%;
          }
        }
      }
    }
  }
}

main {
  height: 100vh;
}

footer {
  width: 100vw;
  height: 30vh;
  background-color: var(--color-primary);

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  gap: 5%;

  ul {
    list-style-type: none;
    height: 100px;

    li {
      margin: 5px;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
